.button {
    background-color: var(--accent) !important;
    color: white !important;
}

.centeredStack {
    justify-content: center;
    align-items: center;
    justify-items: center
}

.container {
    background-color: var(--background);
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 100vh !important;
    width: 100% !important;
    max-width: 100% !important;
    margin: 0;
}

.carIcon {
    width: 100px
}

.paper {
    display: flex !important;
    align-items: center;
    border-radius: 3rem !important;
    justify-content: center;
    height: 30rem !important;
    width: 30rem !important
}