.button {
    background-color: var(--accent) !important;
    color: white !important;
}

.mainStack {
    background-color: var(--background);
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 100vh !important;
    width: 100% !important;
    max-width: 100% !important;
    margin: 0;
}

.subStack {
    height: 100% !important;
    width: 100% !important;
    padding: 0;
}

.maintenanceStack {
    display: flex !important;
    width: 100% !important;
    max-width: 100% !important;
}

.paper {
    display: flex !important;
    align-items: center;
    border-radius: 3rem !important;
    justify-content: center;
    height: 35rem !important;
    width: 40rem !important;
    max-width: 80% !important;
    padding: 3rem;
}