
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.paper{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem !important;
    boxShadow: 24 !important;
    width: 40% !important;
    height: 40% !important;
    padding: 2rem;
}