.mainStack
{
    background-color: var(--background);
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 83vh !important;
    width: 100% !important;
    max-width: 100% !important;
    margin: 0;
}

.vehiclesListStack
{
    display: flex !important;
    width: 100% !important;
    max-width: 100% !important;
}

.paper
{
    border-radius: 3rem !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 35rem !important;
    width: 40rem !important;
    max-width: 80% !important;
    padding-top: 0px;
    padding: 3rem;
    margin-bottom: 8rem;
}